<html>
  <head>
    <style>

    html{
      background:black;
    }

    div.text-right {
      background:black;
    }

    body.w3-black {
      background:black;
    }

    div.jumbotron {
      background:black;
      color:white;
    }

    a.btn.btn-success {
         background-color:black;
         border-color: #0275D8;
    }

    a.btn.btn-info.btn-sm {
      background-color:green;
      border-color:green;
    }


    </style>
  </head>
  <body>
</div>







<div class="jumbotron">
<h1 class="display-3"><%= @workout.title %></h1>
<p class="lead"><strong>Description: </strong> <%=@workout.description%></p>
<hr class="my-4">
<p>Duration</p>
<ul>
  <li><%=@workout.duration%></li>
</ul>

 <a class="btn btn-info btn-sm" href="/workouts/<%= @workout.id %>/edit" role="button">Edit Workout</a>
 <br>
 <% if @workout.user_id == @user.id %>
<form method="POST" action="/workouts/<%= @workout.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<button type="submit" class="btn btn-danger btn-sm">Delete Workout</button>
</form>
<% end %>
</div>
<% if @workout.user_id == @user.id %>
  <div class="text-right"><a class="btn btn-success" style="margin: 20px" href="/workouts" role="button">< Back to My Workout List</a></div>
<% end %>
